.container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 5px 10px;
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
}

.pageInfo {
    font-size: 14px;
    margin: 0 10px;
    color: #555;
    /* Adjust the color to your preference */
}