.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.header label {
    font-size: larger;
    font-weight: bold;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.info:hover .infoText {
    display: block;
}

.infoIcon {
    cursor: pointer;
}

.infoText {
    position: absolute;
    left: 145%;
    transform: translateX(-50%);
    background-color: rgba(241, 241, 241, 0.8);
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 1;
    width: 200px;
    text-align: center;
    font-size: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerUpload {
    display: flex;
    justify-content: center;
    gap: 100px;

}

.headerUpload input {
    padding: 5px;
}

.headerUpload button {
    width: 100px;
    padding: 5px;
    background-color: orange;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.list {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.list label {
    font-size: larger;
    font-weight: bold;
}

.listArrange {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 5px;
}

.listArrange button {
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.listPage {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.listPage button {
    padding: 5px;
}

.listPage span {
    font-size: small;
    color: var(--textSoft);
}