.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.number {
    font-size: 24px;
    font-weight: 500;
}

.detail {
    font-size: 14px;
    font-weight: 300;
}

.positive {
    color: green;
    font-size: 15px;
    font-weight: bold;
}

.negative {
    color: red;
}