.container {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: var(--bgSoft);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid black;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addButton {
    padding: 10px;
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table {
    width: 100%;
    margin: 20px 0px 20px 0px;
}

.table .venHeader {
    text-align: left;
    padding-left: 10px;
}

.table td {
    padding: 5px;
    text-align: center;
}

.header {
    font-weight: bold;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userImage {
    border-radius: 50%;
    object-fit: cover;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button {
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    filter: brightness(80%);
}

.view {
    background-color: teal;
}

.delete {
    background-color: crimson;
}